<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="footer-dark">
  <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-6 item text">
              <img src="/assets/images/logo-main.png" class="img-responsive" width="200px" height="200px">
              <p>A hub where we provide a cluster of class notes of each <br> and every subject, which can be accessed by any student <br> with the connectivity of internet.</p>
            </div>
            <div class="col-sm-6 col-md-6 item">
              <h3>reach out</h3>
              <br>
              <ul>
                  <li>
                    <p style="float: left;"><img src="/assets/images/geo-alt-fill.svg" width="32" height="32"></p>
                    <p>  Shri Vaishnav Vidyapeeth Vishwavidyalaya <br>
                    Campus : Indore – Ujjain Road, Indore – 453111</p>
                  </li>
                  <br>
                  <li>
                    <p style="float: left;"><img src="/assets/images/telephone-fill.svg" width="32" height="32"></p>
                    <p>  +91-860-278-2075</p>
                  </li>
                  <br>
                  <li>
                    <p style="float: left;"><img src="/assets/images/envelope-fill.svg" width="32" height="32"></p>
                    <p>  oceanofnotes@gmail.com</p>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <br>
          <div class="copyright">
            <ul class="social-network social-circle">
              <li><a target="_blank" href="https://instagram.com/oceanofnotes2021?igshid=wz1mxb0bhjjp" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a target="_blank" href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
              <li><a target="_blank" href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <br>
            <br>
            <p>OCEAN OF NOTES © 2021</p>
          </div>
  </footer>
</div>

