<div class="container-fluid">
  <div class="ut">
  <img src="/assets/images/logo-main.png" class="img-responsive" style="width:30%">

<div class="container-fluid text-center">
  <h3>OCEAN OF NOTES, is a hub where we provide a cluster of class notes of each and every subject,
     which can be accessed by any student with the connectivity of internet. </h3>
</div>

<br>
<br>

<div class="row">
  <div class="vision">
    <div class="col-sm-6">
      <div class="text-center">
      <span class="glyphicon glyphicon-eye-open"></span>
      </div>
    </div>
    <div class="col-sm-6">
      <h1>OUR VISION</h1>
      <h2>The most essential value that we uphold is that we focus on making a
        few great things instead of making many mediocre products.</h2>
  </div>
</div>

<div class="row">
  <div class="motto">
    <div class="col-sm-6">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 style="text-align:right">OUR MOTTO</h1>
      <h2 style="text-align:right">Enabling people in the field of education to connect.
        Creating a support system for mastery in learning.
        Enabling access to high-quality educational resources for the masses.</h2>
    </div>
    <div class="col-sm-6">
      <div class="text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
      <span class="glyphicon glyphicon-globe"></span>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
</div>
</div>
